
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tpresto.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <md-button aria-label="Regresar" href="#/tpresto/tpresto-confirm" class="md-button-back"><i class="icn icn-menu-left"></i>
        </md-button>
        <h2><b>Detalle de contrato</b></h2>
      </div>
      <div class="panel-body">
        <form  name="form">
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Prestamista:</label>
                <p><b>{{vm.confirmarprestamodetail.nombresUsuario}} {{vm.confirmarprestamodetail.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Beneficiario:</label>
                <p><b>{{vm.user.nombresUsuario}} {{vm.user.apellidosUsuario}} </b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <p><b>{{vm.confirmarprestamodetail.montoPrestamo}}.00</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Moneda:</label>
                <p><b>{{vm.confirmarprestamodetail.valor}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Cuotas:</label>
                <p><b>{{vm.confirmarprestamodetail.cuotasPrestamo}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo cuotas:</label>
                <p><b>{{vm.confirmarprestamodetail.nombrePeriodicidad}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Tasa:</label>
                <p><b>{{vm.confirmarprestamodetail.tasaInteresPrestamo}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo tasa:</label>
                <p><b>{{vm.confirmarprestamodetail.periodicidadInteresPrestamo}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo registro:</label>
                <p><b>21/04/2017</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Inicio pago:</label>
                <p><b>{{vm.confirmarprestamodetail.fechaPagoPrestamo}}</b></p>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Monto</th>
                <th>Capital</th>
                <th>Interés</th>
                <th>Fecha de pago</th>
              </tr>
              <tr ng-repeat="cuota in cuotasdetail ">
                <td>{{cuota.nro_cuota}}</td>
                <td class="align-right">{{cuota.monto}}</td>
                <td class="align-right">{{cuota.capital}}</td>
                <td class="align-right">{{cuota.interes}}</td>
                <td>{{cuota.fechapago}}</td>
              </tr>
            </table>
          </div>
          <div class="row">
         
            <div class="g12"><br/>
            <!--<div ng-show="error" class="alert alert-danger">{{error}}</div>-->
            <div ng-show="success" class="alert alert-success">{{success}}</div>

            <button ng-click="showConfirm($event)" class="btn btn-primary">Confirmar prestamo</button><a ng-click="showRechazar($event)" class="btn btn-red">Rechazar prestamo</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>