
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tcontrato.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <md-button aria-label="Regresar" href="#/tcontrato/tcontrato-confirm" class="md-button-back"><i class="icn icn-menu-left"></i>
        </md-button>
        <h2><b>Detalle del contrato</b></h2>
      </div>
      <div class="panel-body">
        <form  name="form">
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Contratista:</label>
                <p><b>{{vm.confirmarcontratodetail.nombresUsuario}} {{vm.confirmarcontratodetail.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Contratado:</label>
                <p><b>{{vm.user.nombresUsuario}} {{vm.user.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <p><b>{{vm.confirmarcontratodetail.montoContrato}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Moneda:</label>
                <p><b>{{vm.confirmarcontratodetail.valor}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Adelanto:</label>
                <p><b>{{vm.confirmarcontratodetail.adelantoContrato}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Pendiente:</label>
                <p><b>{{vm.confirmarcontratodetail.pendienteContrato}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Plazo (días):</label>
                <p><b>{{vm.confirmarcontratodetail.plazoContrato}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Fecha Registro:</label>
                <p><b>{{vm.fecha}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Inicio Contrato:</label>
                <p><b>{{vm.confirmarcontratodetail.inicioContrato}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Servicio:</label>
                <p><b>{{vm.confirmarcontratodetail.nombreServicio}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g8">
              <div class="form-group">
                <label>Referencia:</label>
                <p><b>{{vm.confirmarcontratodetail.referenciaContrato}}</b></p>
              </div>
            </div>
          </div>
          
           <div class="row">
         
            <div class="g12"><br/>
            <!--<div ng-show="error" class="alert alert-danger">{{error}}</div>-->
            <div ng-show="success" class="alert alert-success">{{success}}</div>

            <button ng-click="showConfirm($event)" class="btn btn-primary">Confirmar contrato</button><a ng-click="showRechazar($event)" class="btn btn-red">Rechazar contrato</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>