
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-talquilo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
       <md-button aria-label="Regresar" href="#/talquilo/talquilo-pagar-alquiler?pagaralquiler=pagaralquiler" class="md-button-back"><i class="icn icn-menu-left"></i>
        </md-button>
        <h2><b>Pagar alquiler</b></h2>
      </div>
      <div class="panel-body">
        <form  name="form">
          <div class="row">
            <div class="g3">
              <div class="form-group">
                <label>Forma de pago:</label>
                <select ng-model='vm.pago.forma'>
                  <option value="S" ng-init="vm.pago.forma = 'S'">Soles</option>
                  <option value="D">Dólares</option>
                </select>

              </div>
            </div>
            <div class="g3">
              <div class="form-group">
                <label>Monto:</label>
                <input type="text" ng-model='vm.pago.monto' required="required" ng-pattern="/^[0-9]/"/>
                <div ng-show="form.$submitted || form.monto.$dirty" ng-messages="form.monto.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>

              </div>
            </div>
            <div class="g3">
              <div class="form-group">
                <label>Moneda:</label>
                <select ng-model='vm.pago.moneda'>
                  <option value="S" ng-init="vm.pago.moneda = 'S'" >Soles</option>
                  <option value="D">Dólares</option>
                </select>
              </div>
            </div>
            <div class="g3">
              <div class="form-group">
                <label>Fecha operación:</label>
                <input type="text" ng-model='vm.pago.fecha' mask="39/19/2099" name="fpago" placeholder="dd/mm/yyyy" required="required"/>
                <div ng-show="form.$submitted || form.fpago.$dirty" ng-messages="form.fpago.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g12"><br/>
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <div ng-show="success" class="alert alert-success">{{success}}</div>

            <button ng-click="showConfirm($event)" class="btn btn-primary">Notificar pago</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>