<div ng-include="'header.html'"></div>
<div class="wg-layout">
  
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Mis Favoritos</b></h2>
      </div>
      <div class="panel-body">
        <form name="form">
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th width="400px">Usuario</th>
                <th>Calificacion</th>
                
              </tr>
               <tr ng-repeat="item in vm.misfavoritos">
                <td>{{$index +1}}</td>
                <td>{{item.nombresUsuario}} {{item.apellidosUsuario}} </td>
                <td class="align-right">calificacion</td>
            
              </tr>
            </table>
             <div class="full-width-button">
              <a ui-sref="dashboard">&larr; Regresar</a>
              </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>