<div class="panel panel-default">
  <div class="panel-heading">Hola Bienvenido a confianza</div>
  <div class="panel-body">
    Te hemos enviado un email con instrucciones sobre cómo verificar tu cuenta a su correo: 
  </div>
</div>