
<header>
  <div class="container container-full">
    <nav class="white">
      <div class="brand">
        <h1><a ui-sref="dashboard"><img src="assets/images/logo-top.png" alt=""/></a></h1>
      </div>
      <div class="right">
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Go Back" ng-click="$mdOpenMenu($event)"><i class="icn icn-user"></i>{{vm.user.nombresUsuario | limitTo: 10}}<span class="caret"></span>
          </md-button>
          <md-menu-content width="3">
          

            <md-menu-item>
              <md-button ui-sref="editar-usuario"><i class="icn icn-off"></i>Mi cuenta 
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ui-sref="mi-red"><i class="icn icn-off"></i>Mi red 
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ui-sref="favoritos"><i class="icn icn-off"></i>Favoritos 
              </md-button>
            </md-menu-item>

              <md-menu-item>
              <md-button ui-sref="login"><i class="icn icn-off"></i>Cerrar sesión
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>



      </div>
      <div class="clear"></div>
    </nav>
  </div>
</header>
<div class="progress-container">
  <md-progress-linear md-mode="indeterminate" ng-show="vm.progress"></md-progress-linear>
</div>