
<div class="sidebar-menu"><a ui-sref="dashboard">&larr; Volver a menu</a><br/><br/><img src="assets/images/t-presto.png" alt=""/>
  <h2>T-Presto</h2>
  <div class="clear"></div>
</div>
<div class="stack">
<a ui-sref="tpresto/tpresto-register" ui-sref-active="active" class="btn"><i class="icn icn-th-list"></i><span>Registrar</span></a>
<a ui-sref="tpresto/tpresto-confirm" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Confirmar</span></a>
<a ui-sref="tpresto/tpresto-liberar-prestamo" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Liberar préstamo</span></a>
<a ui-sref="tpresto/tpresto-mis-prestamos" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Mis préstamos</span></a>
<a ui-sref="tpresto/tpresto-liquidar-cuentas" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Liquidar cuotas</span></a>
<a ui-sref="tpresto/tpresto-pagar-cuotas" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Pagar cuotas</span></a></div>
<div class="clear"></div>