
<div class="sidebar-menu"><a ui-sref="dashboard">&larr; Volver a menu</a><br/><br/><img src="assets/images/t-contrato.png" alt=""/>
  <h2>T-Contrato</h2>
  <div class="clear"></div>
</div>
<div class="stack">
<a ui-sref="tcontrato/tcontrato-register" ui-sref-active="active" class="btn"><i class="icn icn-th-list"></i><span>Registrar</span></a>
<a ui-sref="tcontrato/tcontrato-confirm" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Confirmar</span></a>
<a ui-sref="tcontrato/tcontrato-liberar-contrato" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Liberar contrato</span></a>
<a ui-sref="tcontrato/tcontrato-mis-contratos" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Mis contratos</span></a></div>
<div class="clear"></div>