
<div class="sidebar-menu"><a ui-sref="dashboard">&larr; Volver a menu</a><br/><br/><img src="assets/images/t-alquilo.png" alt=""/>
  <h2>T-Alquilo</h2>
  <div class="clear"></div>
</div>
<div class="stack">
<a ui-sref="talquilo/talquilo-register" ui-sref-active="active" class="btn"><i class="icn icn-th-list"></i><span>Registrar</span></a>
<a ui-sref="talquilo/talquilo-confirm" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Confirmar</span></a>
<a ui-sref="talquilo/talquilo-liberar-alquiler" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Liberar alquiler</span></a>
<a ui-sref="talquilo/talquilo-mis-alquileres" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Mis Alquileres</span></a>
<a ui-sref="talquilo/talquilo-liquidar-alquiler" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Liquidar alquiler</span></a>
<a ui-sref="talquilo/talquilo-pagar-alquiler" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Pagar alquiler</span></a></div>
<div class="clear"></div>