
<div class="sidebar-menu"><a ui-sref="dashboard">&larr; Volver a menu</a><br/><br/><img src="assets/images/t-vendo.png" alt=""/>
  <h2>T-Vendo</h2>
  <div class="clear"></div>
</div>
<div class="stack">
<a ui-sref="tvendo/tvendo-register" ui-sref-active="active" class="btn"><i class="icn icn-th-list"></i><span>Registrar</span></a>
<a ui-sref="tvendo/tvendo-confirm" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Confirmar</span></a>
<a ui-sref="tvendo/tvendo-liberar-venta" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Liberar venta</span></a>
<a ui-sref="tvendo/tvendo-mis-ventas" ui-sref-active="active" class="btn"><i class="icn icn-calendar"></i><span>Mis ventas</span></a></div>
<div class="clear"></div>