
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-talquilo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <md-button aria-label="Regresar" href="#/talquilo/talquilo-liquidar-alquiler?liquidaralquiler=liquidaralquiler" class="md-button-back"><i class="icn icn-menu-left"></i>
        </md-button>
        <h2><b>Detalle liquidar alquiler</b></h2>
      </div>
      <div class="panel-body">
        <form  name="form">
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Nombres:</label>
                <p><b>{{vm.liquidaralquiler.nombresUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Apellidos:</label>
                <p><b>{{vm.liquidaralquiler.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <p><b>{{vm.liquidaralquiler.montoPagoAlquiler}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Fecha de pago:</label>
                <p><b>{{vm.liquidaralquiler.fechaVencimientoPagoAlquiler}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g12">
              <div class="form-group">
                <label>Observaciones:</label>
                <textarea name="" ng-model="vm.liquidar.observacion" cols="30" rows="10"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="g6"><br/>
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <div ng-show="success" class="alert alert-success">{{success}}</div>
            <div class="g12"><br/><button ng-click="showConfirm($event)" class="btn btn-primary">Liquidar alquiler</button></div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>