﻿
<div class="login-wrapper">
  <div class="login-container">
    <div class="panel">
     
      <div class="panel-body">
        <div class="logo align-center"><img src="assets/images/logo-main.png" alt=""/></div>
        <form ng-submit="form.$valid &amp;&amp; vm.login();" name="form" novalidate="novalidate">
          <div class="form-group">
            <label>Correo electrónico:</label>
            <input type="email" name="email" ng-model="vm.email" placeholder="email@empresa.com" required="required"/>
            <div ng-show="form.$submitted || form.email.$dirty" ng-messages="form.email.$error" class="message-validate">
              <div ng-messages-include="app-services/messages.html"></div>
            </div>
          </div>
          <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" name="password" ng-model="vm.password" required="required"/>
            <div ng-show="form.$submitted || form.password.$dirty" ng-messages="form.password.$error" class="message-validate">
              <div ng-messages-include="app-services/messages.html"></div>
            </div>
          </div>
          <div class="align-center">
            <md-progress-circular md-mode="indeterminate" ng-show="vm.loading" md-diameter="42"></md-progress-circular>
          </div>
          <div ng-show="errorlogin" class="alert alert-danger">{{errorlogin}}</div>
          <div class="full-width-button">
            <button type="submit" class="btn btn-primary"><i class="icn icn-user"></i>Iniciar sesión
            </button><a ui-sref="registrar-usuario" class="btn btn-secondary">Regístrate</a>
             
          </div>
          <div class="align-center"><a ui-sref="correo">¿Olvidaste tu contraseña?</a></div>
        </form>
        <div class="clear"></div>
        <div class="copyright align-center">
          <p class="small">Copyright ©2017 Confianza</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>