
<div class="login-wrapper">
  <div class="login-container">
    <div class="panel">
      <div class="panel-body">
        <div class="logo align-center"><img src="assets/images/logo-main.png" alt=""/></div>
        <div class="align-center">
          <h2><b>Recuperar contraseña</b></h2>
        </div>
        <p>Se enviará una nueva contraseña a su correo electrónico siguiente que lo tendrá que cambiar cuando inicie sesión</p>
        <form ng-submit="form.$valid &amp;&amp; vm.correo();" name="form" novalidate="novalidate">
          <div class="form-group">
            <label>Correo electrónico:</label>
            <input type="email" name="correo" ng-model="vm.user.correo" placeholder="email@empresa.com" required="required"/>
            <div ng-show="form.$submitted || form.email.$dirty" ng-messages="form.email.$error" class="message-validate">
              <div ng-messages-include="app-services/messages.html"></div>
            </div>
          </div>
          <div class="align-center">
            <md-progress-circular md-mode="indeterminate" ng-show="vm.loading" md-diameter="42"></md-progress-circular>
          </div>
          <div ng-show="error" class="alert alert-danger">{{error}}</div>
          <div ng-show="success" class="alert alert-success">{{success}}</div>
          <div class="full-width-button">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div><a href="#/login">&larr; Regresar</a>
        </form>
        <div class="clear"></div>
        <div class="copyright align-center">
          <p class="small">Copyright ©2017 Confianza</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>