

</style>
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tpresto.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <md-button aria-label="Regresar" href="#/tpresto/tpresto-register?tpresto=tpresto" class="md-button-back"><i class="icn icn-menu-left"></i>
        </md-button>
        <h2><b>Detalle de contrato</b></h2>
      </div>
      <div class="panel-body">
        <form  name="form">
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Prestamista:</label>
                <p><b>{{vm.user.nombresUsuario}} {{vm.user.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Beneficiario:</label>
                <p><b>{{vm.prestamo.beneficiario.nombresUsuario}} {{vm.prestamo.beneficiario.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <p><b>{{vm.prestamo.monto}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Moneda:</label>
                <p><b>{{vm.prestamo.moneda.descripcion}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Cuotas:</label>
                <p><b>{{vm.prestamo.nro_cuotas}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo cuotas:</label>
                <p><b>{{vm.prestamo.periodo_cuotas.nombrePeriodicidad}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Tasa:</label>
                <p><b>{{vm.prestamo.tasa}}%</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo tasa:</label>
                <p><b>{{vm.prestamo.periodo_tasa.descripcion}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo registro:</label>
                <p><b>{{vm.fecha}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Inicio pago:</label>
                <p><b>{{vm.prestamo.fecha_pago}}</b></p>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Monto</th>
                <th>Capital</th>
                <th>Interés</th>
                <th>Fecha de pago</th>
              </tr>
              <tr ng-repeat="cuota in cuotas ">
                <td>{{cuota.nro_cuota}}</td>
                <td class="align-right">{{cuota.monto}}</td>
                <td class="align-right">{{cuota.capital}}</td>
                <td class="align-right">{{cuota.interes}}</td>
                <td>{{cuota.fechapago}}</td>
              </tr>
            </table>
          </div>

          <div class="row">
            <div class="g12">&#160;
            </div>
            <div class="g8">
             <!--<div ng-show="error" class="alert alert-danger">{{error}}</div>-->
              <div ng-show="success" class="alert alert-success">{{success}}</div>
              <div class="full-width-button">
                <button ng-click="showConfirm($event)" class="btn btn-primary">Generar </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>