
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-talquilo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <md-button aria-label="Regresar" href="#/talquilo/talquilo-confirm" class="md-button-back"><i class="icn icn-menu-left"></i>
        </md-button>
        <h2><b>Detalle del alquiler</b></h2>
      </div>
      <div class="panel-body">
        <form  name="form">
          <div class="row">
            <div class="g4">
              <div class="form-group">
               <label>Arrendador:</label>
                <p><b>{{vm.confirmaralquilerdetail.nombresUsuario}} {{vm.confirmaralquilerdetail.apellidosUsuario}}</b></p>
                
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
               <label>Arrendatario:</label>
                <p><b>{{vm.user.nombresUsuario}} {{vm.user.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <p><b>{{vm.confirmaralquilerdetail.montoAlquiler}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Moneda:</label>
                <p><b>{{vm.confirmaralquilerdetail.valor}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo/Plazo:</label>
                <p><b>{{vm.confirmaralquilerdetail.periodo}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo/Monto:</label>
                <p><b>{{vm.confirmaralquilerdetail.nombrePeriodicidad}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Plazo:</label>
                <p><b>{{vm.confirmaralquilerdetail.plazo}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Fecha Registro:</label>
                <p><b>31/08/2017</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Inicio alquiler:</label>
                <p><b>{{vm.confirmaralquilerdetail.inicio}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Producto:</label>
                <p><b>{{vm.confirmaralquilerdetail.nombreProducto}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g8">
              <div class="form-group">
                <label>Referencia:</label>
                <p><b>{{vm.confirmaralquilerdetail.referencia}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g8">
              <div class="form-group">
                <label>Garantia:</label>
                <p><b>{{vm.confirmaralquilerdetail.garantia}}</b></p>
              </div>
            </div>
          </div>

           <div class="row">
         
            <div class="g12"><br/>
            <!--<div ng-show="error" class="alert alert-danger">{{error}}</div>-->
            <div ng-show="success" class="alert alert-success">{{success}}</div>

            <button ng-click="showConfirm($event)" class="btn btn-primary">Confirmar alquiler</button><a ng-click="showRechazar($event)" class="btn btn-red">Rechazar alquiler</a></div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>