<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="dashboard-inner">
    <div class="row">
      <div class="g6">
        <div class="dash-item"><a ui-sref="tpresto/tpresto-register"><img src="assets/images/t-presto.png" alt=""/>
            <h3>T-Presto</h3>
            <p>Prestar dinero nunca fue tan fácil</p>
            <div class="clear"></div></a></div>
      </div>
      <div class="g6">
        <div class="dash-item"><a ui-sref="tcontrato/tcontrato-register"><img src="assets/images/t-contrato.png" alt=""/>
            <h3>T-Contrato</h3>
            <p>Hacer un contrato nunca fue tan fácil</p>
            <div class="clear"></div></a></div>
      </div>
    </div>
    <div class="row">
      <div class="g6">
        <div class="dash-item"><a ui-sref="tvendo/tvendo-register"><img src="assets/images/t-vendo.png" alt=""/>
            <h3>T-Vendo</h3>
            <p>Hacer una venta nunca fue tan fácil</p>
            <div class="clear"></div></a></div>
      </div>
      <div class="g6">
        <div class="dash-item"><a ui-sref="talquilo/talquilo-register"><img src="assets/images/t-alquilo.png" alt=""/>
            <h3>T-Alquilo</h3>
            <p>Realizar un alquiler nunca fue tan fácil</p>
            <div class="clear"></div></a></div>
      </div>
    </div>
  </div>
</div>