
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tcontrato.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Registar Contrato</b></h2>
      </div>
      <div class="panel-body">
        <form ng-submit="form.$valid &amp;&amp; vm.registrarContrato();" name="form" novalidate="novalidate">
          <div class="row">
            <div class="g8">
              <div class="form-group">
                <label>Contratado:</label>
               <md-autocomplete md-selected-item="vm.contrato.contratado" md-search-text="searchText" md-items="item in vm.querySearch(searchText)" md-item-text="item.nombresUsuarios" md-min-length="2" >
                <span md-highlight-text="searchText">{{item.nombresUsuarios}}</span>
                </md-autocomplete>
              </div>
            </div>
            <div class="g4">
              <div class="form-group"><br/><br/><a data-toggle="modal" data-target="#myModal" ng-model="visible" class="btn btn-secondary" ng-click='vm.ObtenerDataUsuarioporDniContrato($event)'>Validar</a></div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Servicios:</label>
                 <select  ng-model='vm.contrato.servicios' ng-options="servicios as servicios.nombreServicio for servicios in vm.servicios_contrato track by servicios.idServicio" required="required" name="servicio" >
                <option value="">-SELECCIONE-</option>
                </select>
                <div ng-show="form.$submitted || form.servicio.$dirty" ng-messages="form.servicio.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Inicio:</label>
                 <input type="text" ng-model="vm.contrato.inicio" mask="39/19/2099" name="inicio" placeholder="dd/mm/yyyy" required="required"/>
                <div ng-show="form.$submitted || form.inicio.$dirty" ng-messages="form.inicio.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Plazo (días):</label>
                <input type="text" ng-model="vm.contrato.plazo" name="plazo" mask="49" ng-pattern="/^(\d)+$/" required="required"/>
                <div ng-show="form.$submitted || form.plazo.$dirty" ng-messages="form.plazo.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Moneda:</label>
                 <select  ng-model='vm.contrato.moneda' ng-options="moneda as moneda.descripcion for moneda in vm.moneda track by moneda.codigo" required="required" name="moneda" >
                <option value="">-SELECCIONE-</option>
                </select>
                <div ng-show="form.$submitted || form.moneda.$dirty" ng-messages="form.moneda.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <input type="text" ng-model="vm.contrato.monto"  name="monto" ng-pattern="/^(\d)+$/" required="required"/>
                <div ng-show="form.$submitted || form.monto.$dirty" ng-messages="form.monto.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="g4">
              <div class="form-group">
                <label>Adelanto:</label>
                <input type="text" ng-model="vm.contrato.adelanto" ng-change="vm.pendiente()" name="adelanto" ng-pattern="/^(\d)+$/" required="required"/>
                <div ng-show="form.$submitted || form.adelanto.$dirty" ng-messages="form.adelanto.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Pendiente:</label>
                 <input type="text" ng-model="vm.contrato.pendiente" name="pendiente" ng-pattern="/^(\d)+$/" value="" required="required"/>
                <div ng-show="form.$submitted || form.pendiente.$dirty" ng-messages="form.pendiente.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>                  
                </div>
              </div>
            </div>
            <div class="row" >
            <div class="g12">
              <div class="form-group">
                <label>Referencia:</label>
                <input type="text" ng-model="vm.contrato.referencia" name="referencia"  required="required"/>
                <div ng-show="form.$submitted || form.referencia.$dirty" ng-messages="form.referencia.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            </div>
          <div class="row">
            <div class="g12"><br/>
              <button type="submit" class="btn btn-primary">Generar contrato</button>
            </div>
          </div>
          <div class="row">
          <div class="g6"><br/>
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div ng-show="visible">
<div id="myModal" role="dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><a data-dismiss="modal" class="close"><span>&times;</span></a>
        <h3>Estado de confianza</h3>
      </div>
      <div ng-form="form2">
        <div class="modal-body">
          <!--<div ng-show="error" class="alert alert-warning">{{error}}</div>-->
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Nombres:</label>
                <p><b>{{vm.contrato.contratado.nombresUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Apellidos:</label>
                <p><b>{{vm.contrato.contratado.apellidosUsuario}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Dirección:</label>
                <p><b>{{vm.contrato.contratado.direccionUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Celular:</label>
                <p><b>{{vm.contrato.contratado.celularUsuario}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>DNI:</label>
                <p><b>{{vm.contrato.contratado.dniUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Calificación:</label>
                <p><b>Pérez Martinez</b></p>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Contratista</th>
                <th>Servicio</th>
                <th>monto</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in vm.contratousuario ">
               <td>{{$index +1}}</td>
               <td>{{item.nombresUsuario}} {{item.apellidosUsuario}}</td>
               <td>{{item.nombreServicio}}</td>
               <td class="align-right">{{item.monedaContrato}} {{item.montoContrato}}.00</td>
               <td><span class="status status-red"></span></td>
              </tr>
            
            </table>
          </div>
        </div>
        <div class="modal-footer"><a data-dismiss="modal" class="btn btn-secondary">Cerrar</a></div>
      </div>
    </div>
  </div>
</div>
</div>