﻿
<div class="login-wrapper">
  <div class="register-container">
    <div class="panel">
      <div class="panel-body">
        <div class="logo align-center"><img src="assets/images/logo-main.png" alt=""/></div>
        <form ng-submit="form.$valid &amp;&amp; vm.register();" name="form" novalidate="novalidate">
       

           <div class="row">
            <div class="g6">
              <div class="form-group">

                <label>Tipo de documento:</label>
                <select ng-model='vm.user.tipoDocumento' required="required" name="tipodoc">
                   <option value="{{item.codigo}}" ng-repeat="item in vm.tipo_documento" ng-init="vm.user.tipoDocumento = '1'"> {{item.descripcion}}</option>
                 </select>
                 <div ng-show="form.$submitted || form.tipodoc.$dirty" ng-messages="form.tipodoc.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>N° documento:</label>
              <input type="text" name="dniUsuario" ng-model="vm.user.dniUsuario" ng-pattern="/^(\d)+$/" maxlength="8" />
              <!-- required="required"-->
                <div ng-show="form.$submitted || form.dniUsuario.$dirty" ng-messages="form.dniUsuario.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g2">
               <div class="form-group">
                <div class="form-group"><br><br><a class="btn btn-secondary" ng-click='vm.obtenerdatospordni()'>Validar</a></div>
            </div>
            </div>
          </div>




          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Nombres:</label>
                <input type="text" name="nombresUsuario" ng-model="vm.user.nombresUsuario" maxlength="50" required="required"/>
                <div ng-show="form.$submitted || form.nombresUsuario.$dirty" ng-messages="form.nombresUsuario.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
              <!--ng-pattern="/^[a-zA-Z]*$/" -->
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Apellidos:</label>
                <input type="text" name="apellidos" ng-model="vm.user.apellidosUsuario" maxlength="70" required="required"/>
                <div ng-show="form.$submitted || form.apellidos.$dirty" ng-messages="form.apellidos.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Correo electrónico:</label>
                <input type="email" name="email" ng-model="vm.user.email" maxlength="100" required="required"/>
                <div ng-show="form.$submitted || form.email.$dirty" ng-messages="form.email.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Dirección:</label>
                <input type="text" name="direccion" ng-model="vm.user.direccion" maxlength="100" required="required"/>
                <div ng-show="form.$submitted || form.direccion.$dirty" ng-messages="form.direccion.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Celular:</label>
                <input type="text" name="celular" ng-model="vm.user.celular" ng-pattern="/^(\d)+$/" maxlength="9" required="required"/>
                <div ng-show="form.$submitted || form.celular.$dirty" ng-messages="form.celular.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Departamento:</label>
                <select ng-model='vm.user.idDepartamento' ng-options='item.idDepartamento as item.nombreDepartamento for item in vm.departamentos' ng-change="vm.cambiarprovincias()" required="required" name="idDepartamento">
                <option value="">Selecciona un departamento</option>
                </select>
                <div ng-show="form.$submitted || form.idDepartamento.$dirty" ng-messages="form.idDepartamento.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Provincia:</label>
                <select ng-model='vm.user.idProvincia' ng-options='item.idProvincia as item.nombreProvincia for item in vm.provincias' ng-change="vm.cambiardistritos()" required="required" name="idProvincia">
                  <option value="">Selecciona una provincia</option>
                </select>
                 <div ng-show="form.$submitted || form.idProvincia.$dirty" ng-messages="form.idProvincia.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Distrito:</label>
                 <select ng-model='vm.user.idDistrito' ng-options='item.idDistrito as item.nombreDistrito for item in vm.distritos' required="required" name="idDistrito">
                   <option value="">Selecciona un distrito</option>
                 </select>
                  <div ng-show="form.$submitted || form.idDistrito.$dirty" ng-messages="form.idDistrito.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Fecha de nacimiento:</label>
                <input type="text" data-mask="99/99/9999" name="fechaNacimiento" ng-model="vm.user.fechaNacimiento" placeholder="dd/mm/yyyy" required="required"/>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Sexo:</label>
                 <select ng-model='vm.user.sexoUsuario' ng-options='item.codigo as item.descripcion for item in vm.sexo' required="required" name="sexoUsuario">
                   <option value="">Selecciona su sexo</option>
                 </select>
                 <div ng-show="form.$submitted || form.sexoUsuario.$dirty" ng-messages="form.sexoUsuario.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>password:</label>
                <input type="password" name="password" ng-model="vm.user.password" required="required"/>
                <div ng-show="form.$submitted || form.password.$dirty" ng-messages="form.password.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>confirmar password:</label>
                <input type="password" name="password1" ng-model="vm.user.password1" required="required"/>
                <div ng-show="form.$submitted || form.password1.$dirty" ng-messages="form.password1.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="align-center"><br/>
            <md-checkbox ng-model="vm.checkTerminosCondiciones" aria-label="Términos y condiciones" name="checktyc" required="required">Acepto los términos y condiciones</md-checkbox>
            <div ng-show="form.$submitted || form.checktyc.$dirty" ng-messages="form.checktyc.$error" class="message-validate">

              <div ng-hide="vm.checkTerminosCondiciones">
              <p>Debes aceptar los términos y condiciones antes de continuar.</p>
              </div>
            </div><br/>
            <md-progress-circular md-mode="indeterminate" ng-show="vm.loading" md-diameter="42"></md-progress-circular>
          </div>
          <div class="row">
            <div class="g2">&#160;
            </div>
            <div class="g8">
              <div ng-show="error" class="alert alert-danger">{{error}}</div>
              <div class="full-width-button">
                <button type="submit" class="btn btn-primary"><i class="icn icn-user"></i>Regístrate
                </button>
              </div>
            </div>
          </div>
          <div class="align-center"><span>¿Ya tienes una cuenta?</span><br/><a href="#/login">Iniciar sesión aquí</a></div>
        </form>
        <div class="clear"></div>
        <div class="copyright align-center">
          <p class="small">Copyright ©2017 Confianza</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>