
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-talquilo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Registar alquiler</b></h2>
      </div>
      <div class="panel-body">
        <form ng-submit="form.$valid &amp;&amp; vm.registrarAlquiler();" name="form" novalidate="novalidate">
          <div class="row">
            <div class="g8">
              <div class="form-group">
                <label>Arrendatario:</label>
                 <md-autocomplete md-selected-item="vm.alquilo.arrendatario" md-search-text="searchText" md-items="item in vm.querySearch(searchText)" md-item-text="item.nombresUsuarios" md-min-length="2" >
                <span md-highlight-text="searchText">{{item.nombresUsuarios}}</span>
                </md-autocomplete>
              </div>
            </div>
            <div class="g4">
              <div class="form-group"><br/><br/><a data-toggle="modal" data-target="#myModal" ng-model="visible" class="btn btn-secondary" ng-click='vm.ObtenerDataUsuarioporDni($event)'>Validar</a></div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
              
                <label>Producto:</label>
               
                <select  ng-model='vm.alquilo.productos' ng-options="productos as productos.nombreProducto for productos in vm.productos track by productos.idProducto" required="required" name="producto" >
                <option value="">-SELECCIONE-</option>
                </select>
                <div ng-show="form.$submitted || form.producto.$dirty" ng-messages="form.producto.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
               
              </div>
            </div>
           
            <div class="g4">
              <div class="form-group">
               

                <label>Inicio:</label>
                <input type="text" ng-model="vm.alquilo.inicio" mask="39/19/2099" name="inicio" placeholder="dd/mm/yyyy" required="required"/>
                <div ng-show="form.$submitted || form.inicio.$dirty" ng-messages="form.inicio.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>


              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Plazo:</label>
                 <input type="text" ng-model="vm.alquilo.plazo" mask="39/19/2099" name="plazo" placeholder="dd/mm/yyyy" required="required"/>
                <div ng-show="form.$submitted || form.plazo.$dirty" ng-messages="form.plazo.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
            </div>
          </div>
          </div>
         
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Periodo/Plazo:</label>
               <select  ng-model='vm.alquilo.periodoplazo' ng-options="periodoplazo as periodoplazo.nombrePeriodicidad for periodoplazo in vm.periodos track by periodoplazo.idPeriodicidad" required="required" name="periodoplazo" >
                <option value="">-SELECCIONE-</option>
                </select>
                <div ng-show="form.$submitted || form.periodoplazo.$dirty" ng-messages="form.periodoplazo.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo/Monto:</label>
                 <select  ng-model='vm.alquilo.periodopago' ng-options="
                 periodopago as periodopago.nombrePeriodicidad for periodopago in vm.periodos track by periodopago.idPeriodicidad" required="required" name="periodopago" >
                <option value="">-SELECCIONE-</option>
                </select>
                <div ng-show="form.$submitted || form.periodopago.$dirty" ng-messages="form.periodopago.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
             <div class="g4">
              <div class="form-group">
                  <label>Moneda:</label>
                 <select  ng-model='vm.alquilo.moneda' ng-options="
                  moneda as moneda.descripcion for moneda in vm.moneda track by moneda.codigo" required="required" name="moneda" >
                <option value="">-SELECCIONE-</option>
                </select>
                <div ng-show="form.$submitted || form.moneda.$dirty" ng-messages="form.moneda.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>

              </div>
            </div>
          </div>
          <div class="row" >
            <div class="g4">
              <div class="form-group">
                 <label>Monto:</label>
                <input type="text" selectclick="selectclick" ng-model="vm.alquilo.monto" name="monto" ng-pattern="/^(\d)+$/" required="required"/>
                <div ng-show="form.$submitted || form.monto.$dirty" ng-messages="form.monto.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g8">
              <div class="form-group">
                <label>Garantia:</label>
                <input type="text" name="garantia" ng-model="vm.alquilo.garantia" required="required"/>
                <div ng-show="form.$submitted || form.garantia.$dirty" ng-messages="form.garantia.$error" class="message-validate">
              </div>
                  
              </div>
              </div>
              </div>
              <div class="row"></div>
               <div class="g12">
              <div class="form-group">
                <label>Referencia:</label>
                <input type="text" name="referencia" ng-model="vm.alquilo.referencia" required="required" />
                <div ng-show="form.$submitted || form.referencia.$dirty" ng-messages="form.referencia.$error" class="message-validate">
              </div>
                  
                </div>
              </div>
         
          
       

            
          <div class="row">
            <div class="g12"><br/>
              <button type="submit" class="btn btn-primary">Generar Alquiler</button>
            </div>
          </div>
          <div class="row">
           <div class="g6"><br/>
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div ng-show="visible">
<div id="myModal" role="dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><a data-dismiss="modal" class="close"><span>&times;</span></a>
        <h3>Estado de confianza</h3>
      </div>
      <div ng-form="form2">
        <div class="modal-body">
         <!-- <div ng-show="error" class="alert alert-warning">{{error}}</div>-->
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Nombres:</label>
                <p><b>{{vm.alquilo.arrendatario.nombresUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Apellidos:</label>
                <p><b>{{vm.alquilo.arrendatario.apellidosUsuario}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Dirección:</label>
                <p><b>{{vm.alquilo.arrendatario.direccionUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Celular:</label>
                <p><b>{{vm.alquilo.arrendatario.celularUsuario}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>DNI:</label>
                <p><b>{{vm.alquilo.arrendatario.dniUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Calificación:</label>
                <p><b>Pérez Martinez</b></p>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Arrendatario</th>
                <th>Producto</th>
                <th>monto</th>
                <th></th>
              </tr>
            
              <tr ng-repeat="item in vm.alquilousuario">
               <td>{{$index +1}}</td>
               <td>{{item.nombresUsuario}} {{item.apellidosUsuario}}</td>
               <td>{{item.nombreProducto}}</td>
               <td class="align-right">{{item.monedaAlquiler}} {{item.montoAlquiler}}.00</td>
               <td><span class="status status-green"></span></td>
              </tr>
            
            </table>
          </div>
        </div>
        <div class="modal-footer"><a data-dismiss="modal" class="btn btn-secondary">Cerrar</a></div>
      </div>
    </div>
  </div>
</div>
</div>