
<div class="login-wrapper">
  <div class="login-container">
    <div class="panel">
      <div class="panel-body">
        <div class="logo align-center"><img src="assets/images/logo-main.png" alt=""/></div>
        <div class="align-center">
          <h2><b>Bienvenido</b></h2>
        </div>
        <p>Hola ya estas en Confianza,Te hemos enviado  instrucciones sobre cómo verificar tu cuenta a su correo </p>
        <form ng-submit="form.$valid &amp;&amp; vm.correo();" name="form" novalidate="novalidate">
         
          <div class="full-width-button">
            
          </div><a href="#/registrar-usuario">&larr; Regresar</a>
        </form>
        <div class="clear"></div>
        <div class="copyright align-center">
          <p class="small">Copyright ©2017 Confianza</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>