
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-talquilo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Liquidar Alquileres</b></h2>
      </div>
      <div class="panel-body">
       <div class="row">
            <div class="g8">
              <div class="form-group">
                <label>Arrendatario:</label>
                  <md-autocomplete md-selected-item="vm.liquidar" md-search-text="searchText" md-items="item in vm.querySearch(searchText)" md-item-text="item.nombresUsuarios" md-min-length="2" >
                <span md-highlight-text="searchText">{{item.nombresUsuarios}} </span>
                </md-autocomplete>
              </div>
            </div>
            <div class="g4">
              <div class="form-group"><br/><br/><a class="btn btn-secondary" ng-model='visible' ng-click='vm.ObtenerDataDni()'>Buscar</a></div>
            </div>
          </div>
          <div>
          <!--<div ng-show="visible">-->
        <form ng-submit="vm.consulta()" name="form">
          <div class="table-container">
          
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Monto</th>
                <th>Fecha de Pago</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in vm.detallealquiler ">
                <td>{{$index +1}}</td>
                <td class="align-right">{{item.valor}} {{item.montoPagoAlquiler}} </td>
                <td class="align-right">{{item.fechaVencimientoPagoAlquiler}}</td>
                <td><a ui-sref="talquilo/talquilo-liquidar-alquiler.detail({id: item.idPagoAlquiler})">Ver detalles</a></td>
              </tr>             
            </table>

          </div>
        </form>
        <!--</div>-->
        
      </div>
    </div>
  </div>
</div>