<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-talquilo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Mis Alquileres</b></h2>
      </div>
      <div class="panel-body">
        <form name="form">
          <h3>Recibidos</h3>
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Moneda</th>
                <th>Monto</th>
                <th></th>
              </tr>
              <tr>
                <td>1</td>
                <td>Soles</td>
                <td class="align-right">S/ {{vm.alquilerrecsoles}}</td>
                <td><a ui-sref="talquilo/talquilo-mis-alquileres.detail({moneda: 1})">Ver detalles</a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Dolares</td>
                <td class="align-right">US$ {{vm.alquilerrecdolar}}</td>
                <td><a ui-sref="talquilo/talquilo-mis-alquileres.detail({moneda: 2})">Ver detalles</a></td>
              </tr>
            </table>
          </div>
          <h3>Realizados</h3>
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Moneda</th>
                <th>Monto</th>
                <th></th>
              </tr>
              <tr>
                <td>1</td>
                <td>Soles</td>
                <td class="align-right">S/ {{vm.alquilerreasoles}}</td>
                <td><a ui-sref="talquilo/talquilo-mis-alquileres.detail({moneda: 3})">Ver detalles</a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Dolares</td>
                <td class="align-right">US$ {{vm.alquilerreadolar}}</td>
                <td><a ui-sref="talquilo/talquilo-mis-alquileres.detail({moneda: 4})">Ver detalles</a></td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>