
<div class="login-wrapper">
  <div class="login-container">
    <div class="panel">
      <div class="panel-body">
        <div class="logo align-center"><img src="assets/images/logo-main.png" alt=""/></div>
        <div class="align-center">
          <h2><b>Cuenta Activa</b></h2>
        </div>
        <p>Se activo su cuenta satisfactoriamente  </p>
        <form ng-submit="form.$valid &amp;&amp; vm.correo();" name="form" novalidate="novalidate">
      
           <div class="align-center"><a href="#/login">Iniciar sesión aquí</a></div>
        </form>
        <div class="clear"></div>
        <div class="copyright align-center">
          <p class="small">Copyright ©2017 Confianza</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>