
<div class="login-wrapper">
  <div class="register-container">
    <div class="panel">
      <div class="panel-body">
        <div class="logo align-center"><img src="assets/images/logo-main.png" alt=""/></div>
        <form ng-submit="form.$valid &amp;&amp; vm.Actualizar();" name="form" novalidate="novalidate">
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Nombres:</label>
                <input type="text" name="nombres" ng-model="vm.user.nombresUsuario" maxlength="50"
                required="required"/>
                <div ng-show="form.$submitted || form.nombres.$dirty" ng-messages="form.nombres.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Apellidos:</label>
                <input type="text" name="apellidos" ng-model="vm.user.apellidosUsuario" maxlength="70"  required="required"/>
                <div ng-show="form.$submitted || form.apellidos.$dirty" ng-messages="form.apellidos.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Correo electrónico:</label>
                <input type="email" name="email" ng-model="vm.user.correoUsuario" maxlength="100" required="required"/>
                <div ng-show="form.$submitted || form.email.$dirty" ng-messages="form.email.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Dirección:</label>
                <input type="text" name="direccion" ng-model="vm.user.direccionUsuario" maxlength="100"required="required"/>
                <div ng-show="form.$submitted || form.direccion.$dirty" ng-messages="form.direccion.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Celular:</label>
                <input type="text" name="celular" ng-model="vm.user.celularUsuario" ng-pattern="/^(\d)+$/" maxlength="9" required="required"/>
                <div ng-show="form.$submitted || form.celular.$dirty" ng-messages="form.celular.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Departamento:</label>
                <select ng-model='vm.user.idDepartamento' ng-options='item.idDepartamento as item.nombreDepartamento for item in vm.departamentos' ng-change="vm.cambiarprovincias()">
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Provincia:</label>
                 <select ng-model='vm.user.idProvincia' ng-options='item.idProvincia as item.nombreProvincia for item in vm.provincias' ng-change="vm.cambiardistritos()">
                   <option value="">Selecciona una provincia</option>
                </select>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Distrito:</label>
                <select ng-model='vm.user.idDistrito' ng-options='item.idDistrito as item.nombreDistrito for item in vm.distritos'>
                <option value="">Selecciona un distrito</option>
                 </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Tipo de documento:</label>
                <select ng-model="vm.user.tipoDocumento">
                  <option value="{{item.codigo}}" ng-repeat="item in vm.tipo_documento" ng-init="vm.data.tipo_documento = '1'"> {{item.descripcion}}</option>
                </select>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>N° documento:</label>
                <input type="text" name="nro_documento" ng-model="vm.user.dniUsuario" ng-pattern="/^(\d)+$/" maxlength="8" required="required"/>
                <div ng-show="form.$submitted || form.nro_documento.$dirty" ng-messages="form.nro_documento.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Fecha de nacimiento:</label>
                <input type="text"  name="fnacimiento" ng-model="vm.user.fechaNacimiento" placeholder="dd/mm/yyyy" required="required"/>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Sexo:</label>
                <select ng-model="vm.user.sexoUsuario">
                  <option value="{{item.codigo}}" ng-repeat="item in vm.sexo" ng-init="vm.data.sexo = '1'"> {{item.descripcion}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="g6">
              <div class="form-group">
                <md-checkbox ng-model="vm.user.checkpassword" name="checktyc" >Desea cambiar su contraseña?</md-checkbox>

              </div>
            </div>
            <div class="g6">
            </div>
          </div>
         <div ng-show="vm.user.checkpassword">
          <div class="row" >
            <div class="g6">
              <div class="form-group">
                <label>password:</label>
                <input type="password" name="password" ng-model="vm.user.passwordUsuario" />
                <div ng-show="form.$submitted || form.password.$dirty" ng-messages="form.password.$error" class="message-validate">
                 
                </div>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>confirmar password:</label>
                <input type="password" name="password" ng-model="vm.user.passwordUsuarioconfirmar" />
                <div ng-show="form.$submitted || form.password1.$dirty" ng-messages="form.password1.$error" class="message-validate">
                  
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="g2">&#160;
            </div>
            <div class="g8">
             <div ng-show="error" class="alert alert-danger">{{error}}</div>
              <div ng-show="success" class="alert alert-success">{{success}}</div>
              <div class="full-width-button">
                <button type="submit" class="btn btn-primary"><i class="icn icn-user"></i>Actualizar
                </button>
              <a ui-sref="dashboard">&larr; Regresar</a>
              </div>
            </div>
          </div>
        </form>
        <div class="clear"></div>
        <div class="copyright align-center">
          <p class="small">Copyright ©2017 Confianza</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

