
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tvendo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <md-button aria-label="Regresar" href="#/tvendo/tvendo-confirm" class="md-button-back"><i class="icn icn-menu-left"></i>
        </md-button>
        <h2><b>Detalle de la Venta</b></h2>
      </div>
      <div class="panel-body">
        <form  name="form">
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Vendedor:</label>
                <p><b>{{vm.confirmarventadetail.nombresUsuario}} {{vm.confirmarventadetail.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Comprador:</label>
                <p><b>{{vm.user.nombresUsuario}} {{vm.user.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
              <label>Producto:</label>
                <p><b>{{vm.confirmarventadetail.nombreProducto}}</b></p>
               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Moneda:</label>
                <p><b>{{vm.confirmarventadetail.valor}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <p><b>{{vm.confirmarventadetail.montoVenta}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Fecha Venta:</label>
                <p><b>{{vm.confirmarventadetail.fechaVenta}}</b></p>
              </div>
            </div>
          </div>
           <div class="row">
         
            <div class="g12"><br/>
            <!--<div ng-show="error" class="alert alert-danger">{{error}}</div>-->
            <div ng-show="success" class="alert alert-success">{{success}}</div>

            <button ng-click="showConfirm($event)" class="btn btn-primary">Confirmar venta</button><a ng-click="showRechazar($event)" class="btn btn-red">Rechazar venta</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>