
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-talquilo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Liberar Alquileres</b></h2>
      </div>
      <div class="panel-body">
        <form ng-submit="vm.consulta(vm.data)" name="form">
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Arrendatario</th>
                <th>Monto</th>
                <th></th>
              </tr>

              <tr ng-repeat="item in vm.liberaralquilerdetail">
                <td>{{$index +1}}</td>
                <td>{{item.nombresUsuario}} {{item.apellidosUsuario}} </td>
                <td class="align-right">{{item.valor}} {{item.montoAlquiler}}</td>
                <td><span class="badge badge-red">PDF</span><a ui-sref="talquilo/talquilo-liberar-alquiler.detail({id: item.idAlquiler})">Ver detalles</a></td>
                
              </tr>
            
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>