
  <md-content class="md-padding">
    <form ng-submit="">
      <md-autocomplete
          md-selected-item="buscarController.selectedItem"
          md-search-text="buscarController.searchText"
          md-items="item in buscarController.querySearch(buscarController.searchText)"
          md-item-text="item.display"
          md-min-length="2"
          placeholder="Estado?">
        <md-item-template>
          <span md-highlight-text="buscarController.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No hay estados relacionados con tu búsqueda "{{buscarController.searchText}}" .
        </md-not-found>
      </md-autocomplete>
      <br/>
    </form>
  </md-content>
