
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tvendo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
       <md-button aria-label="Regresar" href="#/tvendo/tvendo-mis-ventas" class="md-button-back"><i class="icn icn-menu-left"></i>
        </md-button>
        <h2><b>Mis Ventas</b></h2>
      </div>
      <div class="panel-body">
        <form ng-submit="vm.consulta()" name="form">
          <h3>{{vm.ventas}}</h3>
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Usuario</th>
                <th>Monto</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in vm.detalleventa">
                <td>{{$index +1}}</td>
                <td>{{item.nombresUsuario}} {{item.apellidosUsuario}} </td>
                <td class="align-right">{{item.valor}}{{item.montoVenta}}</td>
                <td><span class="badge badge-red">PDF</span></td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>