
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tcontrato.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Confirmar Contrato</b></h2>
      </div>
      <div class="panel-body">
        <form ng-submit="vm.consulta(vm.data)" name="form">
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Contratista</th>
                <th>Monto</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in vm.confirmarcontrato">
                <td>{{$index +1}}</td>
                <td>{{item.nombresUsuario}} {{item.apellidosUsuario}} </td>
                <td class="align-right">{{item.valor}} {{item.montoContrato}}</td>
                <td><span class="badge badge-red">PDF</span><a ui-sref="tcontrato/tcontrato-confirm.detail({id: item.idContrato})">Ver detalles</a></td>
                
              </tr>
            </table>
          </div>
          <!--<div class="row">
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
          </div>-->
        </form>
      </div>
    </div>
  </div>
</div>