
<p ng-message="email">Ingrese un correo eletrónico válido.</p>
<p ng-message="minlength">Este campo es demasiado corto.</p>
<p ng-message="maxlength">Este campo es demasiado largo.</p>
<p ng-message="required">Este campo es obligatorio.</p>
<p ng-message="pattern">Solo se acepta numeros.</p>
