<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tvendo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <md-button aria-label="Regresar" href="#/tvendo/tvendo-register?tvendo=tvendo" class="md-button-back"><i class="icn icn-menu-left"></i>
        </md-button>
        <h2><b>Detalle de la Venta</b></h2>
      </div>
      <div class="panel-body">
        <form  name="form">
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Vendedor:</label>
                <p><b>{{vm.user.nombresUsuario}} {{vm.user.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Comprador:</label>
                <p><b>{{vm.vendo.comprador.nombresUsuario}} {{vm.vendo.comprador.apellidosUsuario}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
              <label>Producto:</label>
                <p><b>{{vm.vendo.productos.nombreProducto}}</b></p>
               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Moneda:</label>
                <p><b>{{vm.vendo.moneda.descripcion}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <p><b>{{vm.vendo.monto}}</b></p>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Fecha Venta:</label>
                <p><b>{{vm.vendo.fecha}}</b></p>
              </div>
            </div>
          </div>
          
          
          <div class="row">
            <div class="g12">&#160;
            </div>
            <div class="g8">
             <!--<div ng-show="error" class="alert alert-danger">{{error}}</div>-->
              <div ng-show="success" class="alert alert-success">{{success}}</div>
              <div class="full-width-button">
                <button ng-click="showConfirm($event)" class="btn btn-primary">Generar </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>