
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tvendo.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Registar Venta</b></h2>
      </div>
      <div class="panel-body">
        <form ng-submit="form.$valid &amp;&amp; vm.registrarVenta();" name="form" novalidate="novalidate">
          <div class="row">
            <div class="g8">
              <div class="form-group">
                <label>Comprador:</label>
                <md-autocomplete md-selected-item="vm.vendo.comprador" md-search-text="searchText" md-items="item in vm.querySearch(searchText)" md-item-text="item.nombresUsuarios" md-min-length="2" >
                <span md-highlight-text="searchText">{{item.nombresUsuarios}}</span>
                </md-autocomplete>
              </div>
            </div>
            <div class="g4">
              <div class="form-group"><br/><br/><a data-toggle="modal" data-target="#myModal" ng-model="visible" class="btn btn-secondary" ng-click='vm.ObtenerDataUsuarioporDniVenta($event)'>Validar</a></div>
            </div>
          </div>

          <div class="row">
            <div class="g4">
              <div class="form-group">
               <label>Productos:</label>
                <select  ng-model='vm.vendo.productos' ng-options="productos as productos.nombreProducto for productos in vm.productos_venta track by productos.idProducto" required="required" name="producto" >
                <option value="">-SELECCIONE-</option>
                </select>
                <div ng-show="form.$submitted || form.producto.$dirty" ng-messages="form.producto.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Fecha venta:</label>
                 <input type="text" ng-model="vm.vendo.fecha" mask="39/19/2099" name="fecha" placeholder="dd/mm/yyyy" required="required"/>
                <div ng-show="form.$submitted || form.fecha.$dirty" ng-messages="form.fecha.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="g4">
              <div class="form-group">
               <label>Moneda:</label>
                <select  ng-model='vm.vendo.moneda' ng-options="moneda as moneda.descripcion for moneda in vm.moneda track by moneda.codigo" required="required" name="moneda" >
                <option value="">-SELECCIONE-</option>
                </select>
                <div ng-show="form.$submitted || form.moneda.$dirty" ng-messages="form.moneda.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <input type="text" ng-model="vm.vendo.monto"  name="monto" ng-pattern="/^(\d)+$/" required="required"/>
                <div ng-show="form.$submitted || form.monto.$dirty" ng-messages="form.monto.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          
           
          <div class="row">
            <div class="g12"><br/>
              <button type="submit" class="btn btn-primary">Generar venta</button>
            </div>
          </div>
          <div class="row">
            <div class="g6"><br/>
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div ng-show="visible">
<div id="myModal" role="dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><a data-dismiss="modal" class="close"><span>&times;</span></a>
        <h3>Estado de confianza</h3>
      </div>
      <div ng-form="form2">
        <div class="modal-body">
          <!--<div ng-show="error" class="alert alert-warning">{{error}}</div>-->
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Nombres:</label>
                <p><b>{{vm.vendo.comprador.nombresUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Apellidos:</label>
                <p><b>{{vm.vendo.comprador.apellidosUsuario}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Dirección:</label>
                <p><b>{{vm.vendo.comprador.direccionUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Celular:</label>
                <p><b>{{vm.vendo.comprador.celularUsuario}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>DNI:</label>
                <p><b>{{vm.vendo.comprador.dniUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Calificación:</label>
                <p><b>Pérez Martinez</b></p>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Vendedor</th>
                <th>Producto</th>
                <th>monto</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in vm.ventausuario ">
               <td>{{$index +1}}</td>
               <td>{{item.nombresUsuario}} {{item.apellidosUsuario}}</td>
               <td>{{item.nombreProducto}}</td>
               <td class="align-right">{{item.monedaVenta}} {{item.montoVenta}}.00</td>
               <td><span class="status status-green"></span></td>
              </tr>
            
            </table>
          </div>
        </div>
        <div class="modal-footer"><a data-dismiss="modal" class="btn btn-secondary">Cerrar</a></div>
      </div>
    </div>
  </div>
</div>
</div>