
<div class="login-wrapper">
  <div class="login-container">
    <div class="panel">
      <div class="panel-body">
        <div class="logo align-center"><img src="assets/images/logo-main.png" alt=""/></div>
        <div class="align-center">
          <h2><b>Error</b></h2>
        </div>
        <p>El token no se encuentra disponible </p>
        
        <div class="clear"></div>
        <div class="copyright align-center">
          <p class="small">Copyright ©2017 Confianza</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

