<style type="text/css">
  
}
</style>
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tpresto.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Registar préstamo</b></h2>
      </div>
      <div class="panel-body">
        <form ng-submit="form.$valid &amp;&amp; vm.registrarPrestamo();" name="form" novalidate="novalidate">
          <div class="row">
            <div class="g8">
              <div class="form-group">
                <label>Beneficiario:</label>  
                <md-autocomplete md-selected-item="vm.prestamo.beneficiario" md-search-text="searchText" md-items="item in vm.querySearch(searchText)" md-item-text="item.nombresUsuarios" md-min-length="2" >
                <span md-highlight-text="searchText">{{item.nombresUsuarios}}</span>
                </md-autocomplete>

              </div>
            </div>
            <div class="g4">
              <div class="form-group"><br/><br/><a data-toggle="modal" data-target="#myModal" ng-model="visible" class="btn btn-secondary" ng-click='vm.ObtenerDataUsuarioporDni($event)'>Validar</a></div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Moneda:</label>
               <select  ng-model='vm.prestamo.moneda' ng-options="moneda as moneda.descripcion for moneda in vm.moneda track by moneda.codigo" required="required" name="moneda" >
                <option value="">-SELECCIONE-</option>
                </select>
                <div ng-show="form.$submitted || form.moneda.$dirty" ng-messages="form.moneda.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
               
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Monto:</label>
                <input type="text"  ng-model="vm.prestamo.monto" name="monto" ng-pattern="/^(\d)+$/" required="required"/>
                <div ng-show="form.$submitted || form.monto.$dirty" ng-messages="form.monto.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>N° cuotas:</label>
                <input type="text" ng-model="vm.prestamo.nro_cuotas" name="nro_cuotas" ng-pattern="/^(\d)+$/" required="required"/>
                <!-- mask="49" -->
                <div ng-show="form.$submitted || form.nro_cuotas.$dirty" ng-messages="form.nro_cuotas.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g4">
              <div class="form-group">
                <label>Periodo de cuotas:</label>
                <select  ng-model='vm.prestamo.periodo_cuotas' ng-options="periodo_cuotas as periodo_cuotas.nombrePeriodicidad for periodo_cuotas in vm.periodo_cuotas track by periodo_cuotas.idPeriodicidad" required="required" name="periodo" >
                <option value="">-SELECCIONE-</option>
                </select>

                <div ng-show="form.$submitted || form.periodo.$dirty" ng-messages="form.periodo.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Fecha de pago:</label>
                <input type="text" ng-model="vm.prestamo.fecha_pago" mask="39/19/2099" name="fpago" placeholder="dd/mm/yyyy" required="required"/>
                <div ng-show="form.$submitted || form.fpago.$dirty" ng-messages="form.fpago.$error" class="message-validate">
                  <div ng-messages-include="app-services/messages.html"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="g4">
              <div class="form-group">
                <md-checkbox ng-model="vm.prestamo.checkinteres" name="checktyc">Intereses?</md-checkbox>

              </div>
            </div>
           
          </div>
         <div ng-show="vm.prestamo.checkinteres">
          <div class="row" >
            <div class="g4">
              <div class="form-group">
                <label>Tasa:</label>
                <input type="text" name="tasa" ng-model="vm.prestamo.tasa" selectclick="selectclick" currency="" ng-pattern="/^[0-9]/" />
                <div ng-show="form.$submitted || form.tasa.$dirty" ng-messages="form.tasa.$error" class="message-validate">
                <div ng-messages-include="app-services/messages.html"></div>
                 
                </div>
              </div>
            </div>
            <div class="g4">
              <div class="form-group">
                <label>Periodo Tasa:</label>
                <select  ng-model='vm.prestamo.periodo_tasa' ng-options="periodo_tasa as periodo_tasa.descripcion for periodo_tasa in vm.periodo_tasa track by periodo_tasa.codigo"
                 name="periodotasa" >
                <option value="">-SELECCIONE-</option>
                </select>    
                </div>
              </div>
            </div>
          </div>       
          <div class="row">
            <div class="g12"><br/>
              <button type="submit" class="btn btn-primary">Generar Contrato</button>
            </div>
          </div>
          <div class="row">
           <div class="g6"><br/>
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
          </div>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div ng-show="visible">
<div id="myModal" role="dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><a data-dismiss="modal" class="close"><span>&times;</span></a>
        <h3>Estado de confianza</h3>
      </div>
      <div ng-form="form2">
        <div class="modal-body">
          <!--<div ng-show="error" class="alert alert-warning">{{error}}</div>-->
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Nombres:</label>
                <p><b>{{vm.prestamo.beneficiario.nombresUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Apellidos:</label>
                <p><b>{{vm.prestamo.beneficiario.apellidosUsuario}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>Dirección:</label>
                <p><b>{{vm.prestamo.beneficiario.direccionUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Celular:</label>
                <p><b>{{vm.prestamo.beneficiario.celularUsuario}}</b></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="g6">
              <div class="form-group">
                <label>DNI:</label>
                <p><b>{{vm.prestamo.beneficiario.dniUsuario}}</b></p>
              </div>
            </div>
            <div class="g6">
              <div class="form-group">
                <label>Calificación:</label>
                <p><b>Pérez Martinez</b></p>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Prestamista</th>
                <th>Deuda</th>
                <th>último pago</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in vm.prestamousuario ">
               <td>{{$index +1}}</td>
               <td>{{item.nombresUsuario}} {{item.apellidosUsuario}}</td>
               <td class="align-right">{{item.valor}} {{item.montoPrestamo}}</td>
               <td>{{item.fecha}}</td>
               <td><span class="status status-green"></span></td>
              </tr>
            
            </table>
          </div>
        </div>
        <div class="modal-footer"><a data-dismiss="modal" class="btn btn-secondary">Cerrar</a></div>
      </div>
    </div>
  </div>
</div>
</div>