
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tpresto.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Buscar</b></h2>
      </div>
      <div class="panel-body">
        <form>
          <div class="row">
            <div class="g8">
              <div class="form-group">
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in vm.querySearch(searchText)" md-item-text="item.nombresUsuario" md-min-length="2">
                <span md-highlight-text="searchText"  md-highlight-flags="^i">{{item.nombresUsuario}}</span>
                </md-autocomplete>
              </div>
            </div>
          
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
 

