
<div ng-include="'header.html'"></div>
<div class="wg-layout">
  <div class="layout-sidebar">
    <div ng-include="'menu-tpresto.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-header">
        <h2><b>Liquidar cuotas</b></h2>
      </div>
      <div class="panel-body">
       <div class="row">
            <div class="g8">
              <div class="form-group">
                <label>Beneficiario:</label><br/>
 
                <md-autocomplete md-selected-item="vm.selectedItem" md-search-text="searchText" md-items="item in vm.querySearch(searchText)" md-item-text="item.nombresUsuarios" md-min-length="2" >
                <span md-highlight-text="searchText">{{item.nombresUsuarios}}</span>
                </md-autocomplete>

              </div>
            </div>
            <div class="g4">
            <!--<div ng-show="error" class="alert alert-danger">{{error}}</div>-->
              <div class="form-group"><br/><a class="btn btn-secondary" ng-model='visible' ng-click='vm.ObtenerDataNombre()'>Buscar</a></div>
            </div>
          </div>

          <div>
         <!-- <div ng-show="visible">-->
        <form ng-submit="vm.consulta()" name="form">
          <div class="table-container">
          
            <table class="table square">
              <tr>
                <th width="20px">ID</th>
                <th>Monto</th>
                <th>Capital</th>
                <th>Interés</th>
                <th>Fecha de pago</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in vm.detallecuotas ">
                <td>{{$index +1}}</td>
                <td class="align-right">{{item.valor}} {{item.montoCuota}} </td>
                <td class="align-right">{{item.valor}} {{item.montoCuota}}</td>
                <td class="align-right">{{item.interesCuota}}</td>
                <td>{{item.fechaPago}}</td>
                <td><a ui-sref="tpresto/tpresto-liquidar-cuentas.detail({id: item.idCuota})">Ver detalles</a></td>
              </tr>             
            </table>

          </div>
        </form>
        <!--</div>-->
        
      </div>
    </div>
  </div>
</div>